.mastery {
    grid-area: mastery;

    width:100%;
    height: 100%;

    display: grid;

    border: solid black;
    border-radius: 10px;

    justify-items: center;
    align-items: center;

    grid-template: repeat(2, 1fr) / repeat(2, 1fr);

    grid-template-areas: 
        "masteryimage masteryimage"
        "masteryname masteryname"
    ;

    background: rgba(0, 0, 0, 0.25);

}

#masteryimage {
    grid-area: masteryimage;

    width: 70px;
    height: 70px;

    display: flex;

    margin-top: 20px;

    border: solid black;
    border-radius: 10px;

    justify-content: center;
    align-items: center;
}

#masteryname {
    grid-area: masteryname;

    display: flex;
    width: 90%;
    height: fit-content;

    font-size: 30px;
    margin-bottom: 10px;

    border: solid black;
    border-radius: 10px;

    justify-content: center;
    align-items: center;

    background: rgba(0, 0, 0, 0.25);
}